!!!
%html
 %head
  %title Hopfield network 
  %script{src: "/js/jquery.min.js"}
  %script{src: "/js/hopfield.js"}
  %link{rel: :stylesheet, href: "/css/bootstrap.min.css"}
  %link{rel: :stylesheet, href: "/css/main.css"}
 %body
  %h1 Hopfield Network 

  %table
   - @NUM.times.to_a.each do |i|
    %tr  
     - @NUM.times.to_a.each do |j|
      - @current = (@NUM*i)+(j+1)
      %td{:id => "cell-#{@current}", "data-clicked" => "false"}= @current

  #controls
   %button.btn.btn-default#btn-memory memorize
   %button.btn.btn-default#btn-erase erase
   %button.btn.btn-default#btn-init initialize
   %button.btn.btn-default#btn-rand random 
   %button.btn.btn-default#btn-img imagine 


