!!!
%html
 %head
  %title Hopfield network 
  %script{src: "/js/jquery.min.js"}
  %script{src: "/js/hopfield.js"}
  %link{rel: :stylesheet, href: "/css/bootstrap.min.css"}
  %link{rel: :stylesheet, href: "/css/main.css"}
 %body
  %h1 Hopfield Network 

  %table
   - 5.times.to_a.each do |i|
    %tr  
     - 5.times.to_a.each do |j|
      - @current = (5*i)+(j+1)
      %td{:id => "cell-#{@current}", "data-clicked" => "false"}= @current





